<body>
  <div class="container">
    <div class="text-center mt-4">
      <h4>Günlük Görev Düzenleme Formu</h4>
    </div>
    <div class="content">
      <form [formGroup]="editDaily">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Görev Adı</span>
            <input type="text" formControlName="taskName" [(ngModel)]="editDailyTaskModel.taskName" required>
          </div>
        </div>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Görev Başlangıç Tarihi</span>
            <input type="date" formControlName="taskStartDate" [ngModel]="editDailyTaskModel.taskStartDate | date:'yyyy-MM-dd'" required>
          </div>
        </div>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Görev Bitiş Tarihi</span>
            <input type="date" formControlName="taskEndDate" [ngModel]="editDailyTaskModel.taskEndDate | date:'yyyy-MM-dd'" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Güncelle" (click)="editDailyTask()">
        </div>
      </form>
    </div>
  </div>
</body>