<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link " routerLink="home">Ana Sayfa
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="daily">Günlük Görevler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="weekly">Haftalık Görevler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="monthly">Aylık Görevler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="addTask">Görev Ekle</a>
        </li>
      </ul>
     <div class="nav-item" style="color: white;"><h4>Görev Yöneticisi Uygulaması</h4> </div>
    </div>
  </div>
</nav>